* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: white;
}

.player {
    position: absolute;
    top: 80%;
    left: 45%;
}

.player img {
    transform: rotate(-90deg);
    width: 125px;
}